{% extends 'dash.html'%}
{% block title%} Dashboard | Forex {% endblock %}
{% block content %}

<div class="row d-flex justify-content-center  mx-3">
    <div class="col col-11 mb-2 ">
        <form method="POST">
        <div class="row">
            
                <div class="col-8  ml-4">
                    <select class="form-select" aria-label="select bank" name="bank_name">
                        <option selected>Choose a Bank | Chagua Benki</option>
                        <option value="amana_bank">Amana Bank</option>
                        <option value="azania_bank">Azania Bank</option>
                        <option value="baroda_bank">Baroda Bank</option>
                        <option value="bank_of_india">Bank Of India ( BOI )</option>
                        <option value="bank_of_tanzania">Bank Of Tanzania ( BOT )</option>
                        <option value="dasheng_bank">Dasheng Bank</option>
                        <option value="tanzania_commercial_bank">Tanzania Commercial Bank</option>
                        <option value="dcb_bank">DCB Bank</option>
                        <option value="exim">EXIM Bank</option>
                        <option value="habib_africa_bank">Habib Bank</option>
                        <!-- @todo: icb has a different structure (special case) -->
                        <!-- <option value="international_commercial_bank">ICB Bank</option> -->
                        <option value="mkombozi_bank">Mkombozi Bank</option>
                        <option value="national_microfinance_bank">National Microfinance Bank ( NMB ) </option>
                      </select>
                </div>
            <div class="col-4 ">
                <button type="submit" class="btn btn-primary w-100">Search | Tafuta <i class="bi bi-search"></i> </button>
            </div>
            
        </div>
    </form>
    </div>
</div>
<div class="row d-flex justify-content-center  mx-4 mt-5">
    <div class="col col-11  mb-2 rounded shadow-sm border border-tertiary-secondary">
   
        <table class="table table-striped table-bordered mt-4">
            <caption>Live currency exchange data</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Selling</th>
                    <th scope="col">Buying</th>
                </tr>
            </thead>
            <tbody>
                {% for currency in bank_forex_data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ currency.currency }}</td>
                    <td>{{ currency.selling_price }}</td>
                    <td>{{ currency.buying_price }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}