{% extends 'dash.html'%}
{% block title%} Dashboard | Mutual funds {% endblock %}
{% block content %}

<div class="row d-flex justify-content-center  mx-3">
    <div class="col col-11 mb-2 ">
        <form method="POST">
        <div class="row">
            
                <div class="col-8  ml-4">
                    <select class="form-select" aria-label="select a mutual fund" name="fund_name">
                        <option selected>Choose a Mutual Fund | Chagua Mfuko wa Uwekezaji</option>
                        <option value="uttamis_fund">UTT AMIS</option>
                        <option value="faida_fund">FAIDA FUND</option>
                      </select>
                </div>
            <div class="col-4 ">
                <button type="submit" class="btn btn-primary w-100">Search | Tafuta <i class="bi bi-search"></i> </button>
            </div>
            
        </div>
    </form>
    </div>
</div>
<div class="row d-flex justify-content-center  mx-4 mt-5">
    <div class="col col-11  mb-2 rounded shadow-sm border border-tertiary-secondary">
   
        <table class="table table-striped table-bordered mt-4">
            <caption>Live mutual fund data</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fund Name</th>
                    <th scope="col">Net Asset Value (Tsh)</th>
                    <th scope="col">Outstanding Number of Units (Tsh)</th>
                    <th scope="col">Net Asset Value Per Unit (Tsh)</th>
                    <th scope="col">Sale Price Per Unit (Tsh)</th>
                    <th scope="col">Sale Price Per Unit (Tsh)</th>
                </tr>
            </thead>
            <tbody>
                {% for fund in fund_data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ fund.fund_name }}</td>
                    <td>{{ fund.net_asset_value_tzs }}</td>
                    <td>{{ fund.outstanding_number_of_units }}</td>
                    <td>{{ fund.nav_per_unit_tzs }}</td>
                    <td>{{ fund.sales_price_per_unit_tzs }}</td>
                    <td>{{ fund.repurchase_price_per_unit_tzs }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}