{% extends 'dash.html'%}
{% block title%} Dashboard {% endblock %}
{% block content %}

<div class="row d-flex justify-content-center  mx-3">
    <div class="col col-11 mb-2 ">
        <form method="POST">
        <div class="row">
            
                <div class="col-8  ml-4">
                    <select class="form-select" aria-label="select bank" name="bank_name">
                        <option selected>Choose a Bank | Chagua Benki</option>
                        <option value="amana">Amana Bank</option>
                        <option value="azania">Azania Bank</option>
                        <option value="baroda">Baroda Bank</option>
                        <option value="boi">Bank Of India ( BOI )</option>
                        <option value="bot">Bank Of Tanzania ( BOT )</option>
                        <option value="dasheng">Dasheng Bank</option>
                        <option value="dcb">DCB Bank</option>
                        <option value="exim">EXIM Bank</option>
                        <option value="habib">Habib Bank</option>
                        <option value="icb">ICB Bank</option>
                        <option value="mkombozi">Mkombozi Bank</option>
                        <option value="NMB Bank">National Microfinance Bank ( NMB ) </option>
                      </select>
                </div>
            <div class="col-4 ">
                <button type="submit" class="btn btn-primary w-100">Search | Tafuta <i class="bi bi-search"></i> </button>
            </div>
            
        </div>
    </form>
    </div>
</div>
<div class="row d-flex justify-content-center  mx-4 mt-5">
    <div class="col col-11  mb-2 rounded shadow-sm border border-tertiary-secondary">
   
        <table class="table table-striped table-bordered mt-4">
            <caption>Live currency exchange data</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Selling</th>
                    <th scope="col">Buying</th>
                </tr>
            </thead>
            <tbody>
                {% for currency in bank_forex_data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ currency.currency }}</td>
                    <td>{{ currency.selling }}</td>
                    <td>{{ currency.buying }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}